.wrapper {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container {
  width: 75%;
  padding: 30px 50px;
  border: 1px solid;
  border-radius: 20px;
  border-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.question-box {
  padding: 10px 20px;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.choices-box {
  background-color: white;
  padding: 0px 0px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  text-align: center;
  width: 46%;
  min-height: 80px;
  font-size: large;
  font-weight: 600;
  background-color: lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice-1,
.choice-2 {
  margin-bottom: 30px;
}

p {
  padding: 0;
  margin: 0;
}

.controls-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.control {
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: 500;
}

.clickable:hover {
  cursor: grab;
  background-color: orange;
}
